interactions:
- request:
    body: '{"datasetName": "landsat_tm_c1", "entityId": "LT51730582011301MLK00", "metadataType":
      "full"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-metadata
  response:
    body:
      string: '{"requestId": 209408405, "version": "stable", "sessionId": 44801471,
        "data": {"browse":[{"id":"5e83d08f9cccdbe1","browseRotationEnabled":false,"browseName":"LandsatLook
        Natural Color Preview Image","browsePath":"https:\/\/ims.cr.usgs.gov\/browse\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2.jpg","overlayPath":"https:\/\/ims.cr.usgs.gov\/wms\/landsat_tm_c1?sceneId=lt51730582011301mlk00","overlayType":"dmid_wms","thumbnailPath":"https:\/\/ims.cr.usgs.gov\/thumbnail\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2.jpg"},{"id":"5e83d08f78e319f1","browseRotationEnabled":false,"browseName":"LandsatLook
        Thermal Preview Image","browsePath":"https:\/\/ims.cr.usgs.gov\/browse\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2_TIR.jpg","overlayPath":"https:\/\/ims.cr.usgs.gov\/wms\/landsat_tm_c1?sceneId=lt51730582011301mlk00_tir","overlayType":"dmid_wms","thumbnailPath":"https:\/\/ims.cr.usgs.gov\/thumbnail\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2_TIR.jpg"},{"id":"5e83d08fb19d465","browseRotationEnabled":false,"browseName":"LandsatLook
        Quality Preview Image","browsePath":"https:\/\/ims.cr.usgs.gov\/browse\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2_QB.jpg","overlayPath":"https:\/\/ims.cr.usgs.gov\/wms\/landsat_tm_c1?sceneId=lt51730582011301mlk00_qb","overlayType":"dmid_wms","thumbnailPath":"https:\/\/ims.cr.usgs.gov\/thumbnail\/landsat_tm_c1\/2011\/173\/058\/LT05_L1GS_173058_20111028_20161005_01_T2_QB.jpg"}],"cloudCover":"85.00","entityId":"LT51730582011301MLK00","displayId":"LT05_L1GS_173058_20111028_20161005_01_T2","orderingId":"LT51730582011301MLK00","metadata":[{"id":"5e83d08faf484e73","fieldName":"Landsat
        Product Identifier","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_dictionary.html#landsat_product_id","value":"LT05_L1GS_173058_20111028_20161005_01_T2"},{"id":"5e83d08fe5bf3f6b","fieldName":"Landsat
        Scene Identifier","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_dictionary.html#landsat_scene_id","value":"LT51730582011301MLK00"},{"id":"5e83d08f8a8e533d","fieldName":"Acquisition
        Date","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_dictionary.html#acquisition_date","value":"2011\/10\/28"},{"id":"5e83d08f22112f57","fieldName":"Satellite","dictionaryLink":"https:\/\/lta.[...]
