interactions:
- request:
    body: '{"datasetName": "landsat_ot_c2_l2", "sceneFilter": {"acquisitionFilter":
      {"start": "2018-01-01", "end": "2018-01-31"}, "spatialFilter": {"filterType":
      "mbr", "lowerLeft": {"longitude": 4.38, "latitude": 50.85}, "upperRight": {"longitude":
      4.38, "latitude": 50.85}}}, "maxResults": 10}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-search
  response:
    body:
      string: '{"requestId": 209416622, "version": "stable", "sessionId": 44801471,
        "data": {"results": [{"browse":[{"id":"5fb4ba12d7ec307f","browseRotationEnabled":null,"browseName":"Level-1
        Reflective Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=refl&product_id=LC08_L1GT_198025_20180131_20200902_02_T2","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LC08_L1GT_198025_20180131_20200902_02_T2\/tiles\/{z}\/{x}\/{y}.png?layer=natural_color","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=thumb&type=refl&product_id=LC08_L1GT_198025_20180131_20200902_02_T2"}],"cloudCover":"100.00","entityId":"LC81980252018031LGN00","displayId":"LC08_L2SP_198025_20180131_20200902_02_T2","orderingId":null,"metadata":[],"hasCustomizedMetadata":null,"options":{"bulk":true,"download":true,"order":false,"secondary":false},"selected":{"bulk":false,"compare":false,"order":false},"spatialBounds":{"type":"Polygon","coordinates":[[[2.84509,49.19603],[2.84509,51.34939],[6.16413,51.34939],[6.16413,49.19603],[2.84509,49.19603]]]},"spatialCoverage":{"type":"Polygon","coordinates":[[[2.84509,49.64757],[5.3947,49.19603],[6.16413,50.89072],[3.52476,51.34939],[2.84509,49.64757]]]},"temporalCoverage":{"endDate":"2018-01-31
        00:00:00","startDate":"2018-01-31 00:00:00"},"publishDate":"Unknown"},{"browse":[{"id":"5fb4ba12d7ec307f","browseRotationEnabled":null,"browseName":"Level-1
        Reflective Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=refl&product_id=LC08_L1GT_199024_20180122_20200902_02_T2","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LC08_L1GT_199024_20180122_20200902_02_T2\/tiles\/{z}\/{x}\/{y}.png?layer=natural_color","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=[...]
