interactions:
- request:
    body: '{"listId": "xakwguzqlx", "datasetName": "landsat_tm_c1", "idField": "displayId",
      "entityId": "LT05_L1GS_173058_20111028_20161005_01_T2"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-list-add
  response:
    body:
      string: '{"requestId": 209397300, "version": "stable", "sessionId": 44801471,
        "data": 1, "errorCode": null, "errorMessage": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"listId": "xakwguzqlx"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-list-get
  response:
    body:
      string: '{"requestId": 209397301, "version": "stable", "sessionId": 44801471,
        "data": [{"entityId":"LT51730582011301MLK00","datasetName":"landsat_tm_c1"}],
        "errorCode": null, "errorMessage": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"listId": "xakwguzqlx"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-list-remove
  response:
    body:
      string: '{"requestId": 209397302, "version": "stable", "sessionId": 44801471,
        "data": null, "errorCode": null, "errorMessage": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
