interactions:
- request:
    body: '{"datasetName": "landsat_tm_c2_l2", "entityId": "LT51730582011301MLK00",
      "metadataType": "full"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-metadata
  response:
    body:
      string: '{"requestId": 209410370, "version": "stable", "sessionId": 44801471,
        "data": {"browse":[{"id":"5fb4b9d0e5094d61","browseRotationEnabled":false,"browseName":"Level-1
        Reflective Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=refl&product_id=LT05_L1TP_173058_20111028_20200820_02_T1","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LT05_L1TP_173058_20111028_20200820_02_T1\/tiles\/{z}\/{x}\/{y}.png?layer=natural_color","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=thumb&type=refl&product_id=LT05_L1TP_173058_20111028_20200820_02_T1"}],"cloudCover":"85.00","entityId":"LT51730582011301MLK00","displayId":"LT05_L2SP_173058_20111028_20200820_02_T1","orderingId":"LT51730582011301MLK00","metadata":[{"id":"5e83d1197bb3b471","fieldName":"Landsat
        Product Identifier L2","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#landsat_product_id","value":"LT05_L2SP_173058_20111028_20200820_02_T1"},{"id":"5e83d119d77c851b","fieldName":"Landsat
        Product Identifier L1","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#landsat_product_id","value":"LT05_L1TP_173058_20111028_20200820_02_T1"},{"id":"5e83d1194a136c3d","fieldName":"Landsat
        Scene Identifier","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#landsat_scene_id","value":"LT51730582011301MLK00"},{"id":"5e83d1194a5390ef","fieldN[...]
