interactions:
- request:
    body: '{"datasetName": "landsat_tm_c2_l1", "entityId": "LT51730582011301MLK00",
      "metadataType": "full"}'
    headers:
      X-Auth-Token:
      - eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwNzg1MDEiLCJyIjo1ODQsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==
    method: GET
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/scene-metadata
  response:
    body:
      string: '{"requestId": 209407868, "version": "stable", "sessionId": 44801471,
        "data": {"browse":[{"id":"5e9e83b68ba2f3d4","browseRotationEnabled":false,"browseName":"Reflective
        Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=refl&product_id=LT05_L1TP_173058_20111028_20200820_02_T1","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LT05_L1TP_173058_20111028_20200820_02_T1\/tiles\/{z}\/{x}\/{y}.png?layer=natural_color","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=thumb&type=refl&product_id=LT05_L1TP_173058_20111028_20200820_02_T1"},{"id":"5e9e83d0725f2079","browseRotationEnabled":false,"browseName":"Thermal
        Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=tir&product_id=LT05_L1TP_173058_20111028_20200820_02_T1","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LT05_L1TP_173058_20111028_20200820_02_T1\/tiles\/{z}\/{x}\/{y}.png?layer=thermal","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=thumb&type=tir&product_id=LT05_L1TP_173058_20111028_20200820_02_T1"},{"id":"5e9e859b7a3f8c77","browseRotationEnabled":false,"browseName":"Quality
        Browse","browsePath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=rrb&type=qb&product_id=LT05_L1TP_173058_20111028_20200820_02_T1","overlayPath":"https:\/\/landsatlook.usgs.gov\/dynamic-tiler\/scenes\/LT05_L1TP_173058_20111028_20200820_02_T1\/tiles\/{z}\/{x}\/{y}.png?layer=qa","overlayType":"ls_chs","thumbnailPath":"https:\/\/landsatlook.usgs.gov\/gen-browse?size=thumb&type=qb&product_id=LT05_L1TP_173058_20111028_20200820_02_T1"}],"cloudCover":"85.00","entityId":"LT51730582011301MLK00","displayId":"LT05_L1TP_173058_20111028_20200820_02_T1","orderingId":"LT51730582011301MLK00","metadata":[{"id":"5e83d0a04f1d10c9","fieldName":"Landsat
        Product Identifier L1","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#landsat_product_id","value":"LT05_L1TP_173058_20111028_20200820_02_T1"},{"id":"5e83d0a023b53b6","fieldName":"Landsat
        Scene Identifier","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#landsat_scene_id","value":"LT51730582011301MLK00"},{"id":"5e83d0a056bea8fb","fieldName":"Date
        Acquired","dictionaryLink":"https:\/\/lta.cr.usgs.gov\/DD\/landsat_c2_dictionary.html#acquisition_date","value":"2011\/10\/28"},{"id":"5e83d0a085e70adc","fieldName":"Collection
        Category","dictionaryL[...]
