interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ers.cr.usgs.gov/login/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\"
        lang=\"en\" dir=\"ltr\" class=\"h-100\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <title>EROS Registration System</title>\n        <meta name=\"viewport\"
        content=\"width&#x3D;device-width,&#x20;initial-scale&#x3D;1.0\">\n<meta name=\"description\"
        content=\"Query&#x20;and&#x20;order&#x20;satellite&#x20;images,&#x20;aerial&#x20;photographs,&#x20;and&#x20;cartographic&#x20;products&#x20;through&#x20;the&#x20;U.S.&#x20;Geological&#x20;Survey\">\n<meta
        name=\"keywords\" content=\"U.S.&#x20;Geological&#x20;Survey,USGS,National&#x20;Mapping&#x20;Division,NMD,USA,&[...]
- request:
    body: username=bad_username&password=bad_password&csrf=bbba0f14f0812bb366468858620674a7-b0092e9a3e779453f906ee52030582ec&__ncforminfo=tOZok5u2z3eCXav_NS0aGpK3_5f5v0PPni7BrL9YJGz191I_E0v2HJ--tcZpidqgA5NX71wCLvhps0MJK0fTpU1BKOjzYDaEAhHqATRRYjclm4XH3NHPGQ%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ers.cr.usgs.gov/login/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\"
        lang=\"en\" dir=\"ltr\" class=\"h-100\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <title>EROS Registration System</title>\n        <meta name=\"viewport\"
        content=\"width&#x3D;device-width,&#x20;initial-scale&#x3D;1.0\">\n<meta name=\"description[...]
