interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ers.cr.usgs.gov/login/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\"
        lang=\"en\" dir=\"ltr\" class=\"h-100\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <title>EROS Registration System</title>\n        <meta name=\"viewport\"
        content=\"width&#x3D;device-width,&#x20;initial-scale&#x3D;1.0\">\n<meta name=\"description\"
        content=\"Query&#x20;and&#x20;order&#x20;satellite&#x20;images,&#x20;aerial&#x20;photographs,&#x20;and&#x20;cartographic&#x20;products&#x20;through&#x20;the&#x20;U.S.&#x20;Geological&#x20;Survey\">\n<meta
        name=\"keywords\" content=\"U.S.&#x20;Geological&#x20;Survey,USGS,National&#x20;Mapping&#x20;Division,NMD,USA,&[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ers.cr.usgs.gov/login/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\"
        lang=\"en\" dir=\"ltr\" class=\"h-100\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <title>EROS Registration System</title>\n        <meta name=\"viewport\"
        content=\"width&#x3D;device-width,&#x20;initial-scale&#x3D;1.0\">\n<meta name=\"description[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ers.cr.usgs.gov/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\"
        lang=\"en\" dir=\"ltr\" class=\"h-100\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <title>EROS Registration System</title>\n        <meta name=\"viewport\"
        content=\"width&#x3D;device-width,&#x20;initial-scale&#x3D;1.0\">\n<meta name=\"description\"
        [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://m2m.cr.usgs.gov/api/api/json/stable/login
  response:
    body:
      string: '{"requestId": 209492576, "version": "stable", "data": "eyJjaWQiOjgyMTM4OSwicyI6IjE2MTQwODY3NjYiLCJyIjo1MzYsInAiOlsiZG93bmxvYWQiLCJvcmRlciJdfQ==",
        "errorCode": null, "errorMessage": null, "sessionId": 44823652}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
